* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-size: 1.6rem; */
}

body.dark {
  background-color: #333;
  color: #fff;
}

.icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.flex_full {
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
  align-items: center;
}
